body{
  background-image: url(loa.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  <!--- background-color: #FACE7F; --->
}
h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}
.forms{
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 70px;
}
.labels{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}
.form-control{
  font-size: 20px;
  margin-bottom: 10px;
}
.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
.output{
  text-align: center;
  font-size: 30px;
}
